[mysqld]
user=mysql
# 执行安全连接
require_secure_transport=ON
# 监听地址
bind-address=0.0.0.0
# 默认存储引擎
default-storage-engine=INNODB
# 字符集
character-set-server=utf8
# 需要开启ssl服务，才需要配置ssl文件路径
ssl-ca=/etc/mysql/ssl_file/ca.pem
ssl-cert=/etc/mysql/ssl_file/server-cert.pem
ssl-key=/etc/mysql/ssl_file/server-key.pem
#【关闭ssl】
#skip_ssl

[client]
# 默认字符集
default-character-set=utf8

[mysql]
# 默认字符集
default-character-set=utf8